header nav ul {
    list-style: none; /* Quita los puntos de las listas */
    padding: 0;
    margin: 0;
    display: flex; /* Hace que los elementos se alineen horizontalmente */
    justify-content: center; /* Centra los elementos en el contenedor */
}

header nav ul li {
    margin: 0 15px; /* Espacio entre los elementos */
}

header nav ul li a {
    color: #fff; /* Color del texto */
    text-decoration: none; /* Quita el subrayado de los enlaces */
    font-weight: bold; /* Negrita */
    display: flex; /* Alinea el icono y el texto horizontalmente */
    align-items: center; /* Centra verticalmente el icono y el texto */
}

header nav ul li a span.material-icons {
    margin-right: 8px; /* Espacio entre el icono y el texto */
}

#hero {
    background: url('../assets/img/hero-bg.jpg') no-repeat center center/cover;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 60px;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border: 5px solid #fff;
}

.content-section {
    padding: 50px 20px;
    max-width: 1000px;
    margin: auto;
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.experience-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.experience-entry {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.experience-entry:hover {
    transform: translateX(10px);
}

.see-more {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #000dff;
    font-weight: bold;
    transition: color 0.3s;
}

.see-more:hover {
    color: #6b73ff;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    margin-top: 50px;
}
